body {
  font-family: Georgia;
  background: #ebf0e5;
  display: flex;
  justify-content: center;
  color: #191410;
  
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 28px;
}

#main-container {
  background: #f9fbf7;
  box-shadow: 9px 10px 17px -5px rgba(168,165,168,1);
  padding: 40px 50px 50px;
  border-radius: 10px;
}

#add-food-container {
  border: 1px solid lightgray;
  border-radius: 10px;
  padding-bottom: 20px;
  background: #f9fbf7;
  box-shadow: 9px 10px 17px -5px rgba(168,165,168,1);
  width: 70%;
  margin: auto;
  /* align-self: flex-end; */


}

#add-food {
  display: flex;
  justify-content: center;
  align-items: center;
}

#add-food button, #add-food label {
  margin-left: 25px;
}

#add-food input {
  margin-left: 5px;
  font-size: 16px; 
  border-radius: 5px;
  border-width: 1px;
  height: 20px;
  border-color: #191410
}

#add-food select {
  margin-left: 5px;
  border-radius: 5px;
  height: 1.75em;
  font-size: 16px;
  font-family: Georgia;
}

#add-food button {
  border-radius: 5px;
  font-size: 1em;
  width: 5rem;
  height: 2rem;
  cursor: pointer;
}

#submit:hover {
  background-color: #58c182;
  border: 1px solid #58c182;
}

#submit {
  background-color: #60d08c;
  border: 1px solid #60d08c;
  font-family: Gerogia;
  color: #ffffff;

}

#reset:hover {
  background-color: #d8dcd2;
  border: 1px solid #60d08c;
}
#reset {
  background-color: #ebf0e5;
  border: 1px solid #60d08c;
  color: #28b360;
  font-family: Gerogia;

}

h1, h2 {
  display: flex;
  justify-content: center;
}

#totals-display {
  border: 1px solid lightgray;
  display: table;  
	margin: 40px auto; 
  background-color:#f9fbf7;;
  box-shadow: 9px 10px 17px -5px rgba(168,165,168,1);
  border-radius: 5px;
}



#graph-container {
  position: absolute;
  bottom: 0;
  width: 400px;
  box-sizing: border-box;
  border-radius: 4px;
  visibility: hidden; 
  opacity: 0; 
  transition: 0.5s;
}

#serving:hover ~ #graph-container{
  visibility: visibile;
  opacity: 1;
  color: blue;
  cursor: pointer;
}

#totals-display ul {
  list-style-type: none;
  display: flex;
}

#totals-display li {
  display: inline;
  padding: 10px;
  font-size: 22px;
 
}

#totals-display span {
  font-weight: bold;

}

#food-stats {
  margin-top: 30px;
}

th button {
  background-color: #f9fbf7;;
  border: 0;
  font-weight: bold;
  font-family: Georgia;
  font-size: 18px;
}

table {
  margin-top: 50px;
  background-color: #f9fbf7;
  box-shadow: 9px 14px 17px -2px rgba(194,190,194,1);
}

th {
  font-size: 18px;
  border: 1px solid;
}

td button {
  font-family: Georgia;
}

td button:hover {
  cursor: pointer;
}

td {
  border: 1px solid;
}

th button:hover {
  cursor: pointer;
}

td {
  text-align: center;
  font-size: 18px;
}


#graph-container {
  width: 500px;
  height: 400px;
}